<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/security
		http://www.springframework.org/schema/security/spring-security.xsd">
	
	<http auto-config="true"> 
		<intercept-url pattern="/pages/admin/**" access="ROLE_ADMINISTRADOR" />
		<intercept-url pattern="/pedido/formaPagamento.xhtml" access="ROLE_ADMINISTRADOR, ROLE_FUNCIONARIO, ROLE_CLIENTE" />
		<intercept-url pattern="/pages/pessoa/**" access="ROLE_ADMINISTRADOR" />
		<intercept-url pattern="/pages/formaPgto/**" access="ROLE_ADMINISTRADOR" />
		<intercept-url pattern="/pages/produto/**" access="ROLE_ADMINISTRADOR, ROLE_FUNCIONARIO" />
		
		<form-login login-page="/login.xhtml"
			always-use-default-target="true"
			authentication-success-handler-ref="successHandler"
			authentication-failure-url="/login.xhtml?login_error=1" />
		<logout logout-success-url="/index.xhtml"/> 
		<remember-me /> 
	</http>
	<beans:bean id="successHandler" class="br.com.joao.lojavirtual3.util.redirect.RedirecionaPaginaPadrao"/>
	<authentication-manager>
		<authentication-provider>
			<jdbc-user-service data-source-ref="hibernateDbDataSource" 
				authorities-by-username-query="SELECT pes_nome, pes_tipo 
																	FROM pessoa 
																	WHERE pes_email = ?"
				users-by-username-query="SELECT pes_email, pes_senha, '1' FROM pessoa WHERE pes_email = ?" />
		</authentication-provider>
	</authentication-manager>
</beans:beans>

